@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SistemaBico.Web.Models.ProfessionalProfileDto;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section Head{}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Profile Personal Information-->
            <div class="d-flex flex-row">
                <!--begin::Aside-->
                <div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px" id="kt_profile_aside">
                    <!--begin::Profile Card-->
                    <div class="card card-custom card-stretch">
                        <!--begin::Body-->
                        <div class="card-body pt-4">
                            <!--begin::User-->
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                                    <div class="symbol-label" style="background-image:url('data:image/jpg;base64,@Model.PerfilPicture')"></div>
                                    <i class="symbol-badge bg-success"></i>
                                </div>
                                <div>
                                    <a href="#" class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">@Model.Name @Model.LastName</a>
                                    <div class="text-muted">@Model.Profession</div>
                                </div>
                            </div>
                            <!--end::User-->
                            <!--begin::Contact-->
                            <div class="py-9">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <span class="font-weight-bold mr-2">Email:</span>
                                    <a href="#" class="text-muted text-hover-primary">@Model.Email</a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <span class="font-weight-bold mr-2">Telefone:</span>
                                    <span class="text-muted">@Model.Phone</span>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="font-weight-bold mr-2">Cidade:</span>
                                    <span class="text-muted">@Model.City</span>
                                </div>
                            </div>
                            <!--end::Contact-->
                            <!--begin::Nav-->
                            <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
                                <div class="navi-item mb-2">
                                    <a asp-area="" asp-controller="ProfessionalProfile" asp-action="updateProfile" class="navi-link py-4 active">
                                        <span class="navi-icon mr-2">
                                            <span class="svg-icon">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <polygon points="0 0 24 0 24 24 0 24" />
                                                        <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                        <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="navi-text font-size-lg">Perfil Profissional</span>
                                    </a>
                                </div>
                                <div class="navi-item mb-2">
                                    <a  asp-area="" asp-controller="ProfessionalProfile" asp-action="Address" class="navi-link py-4">
                                        <span class="navi-icon mr-2">
                                            <span class="svg-icon">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Code/Compiling.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" fill="#000000" opacity="0.3" />
                                                        <path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" fill="#000000" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="navi-text font-size-lg">Endereço</span>
                                    </a>
                                </div>
                                <div class="navi-item mb-2">
                                    <a asp-area="" asp-controller="ProfessionalProfile" asp-action="Plan" class="navi-link py-4" data-toggle="tooltip"  data-placement="right">
                                        <span class="navi-icon mr-2">
                                            <span class="svg-icon">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-top-panel-6.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <rect fill="#000000" x="2" y="5" width="19" height="4" rx="1" />
                                                        <rect fill="#000000" opacity="0.3" x="2" y="11" width="19" height="10" rx="1" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="navi-text font-size-lg">Planos</span>
                                    </a>
                                </div>
                            </div>
                            <!--end::Nav-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Profile Card-->
                </div>
                <!--end::Aside-->
                <!--begin::Content-->
                <div class="flex-row-fluid ml-lg-8">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch">
                        <!--begin::Header-->
                        <div class="card-header py-3">
                            <div class="card-title align-items-start flex-column">
                                <h3 class="card-label font-weight-bolder text-dark">Detalhes Perfil Profissional</h3>
                                <span class="text-muted font-weight-bold font-size-sm mt-1">Informações Profissionais</span>
                            </div>

                        </div>
                        <!--end::Header-->
                        <!--begin::Form-->
                        <form class="form" id="kt_form_update" action="ProfessionalProfile/UpdateProfile" method="post" enctype="multipart/form-data">
                            <!--begin::Body-->
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-xl-3"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <h5 class="font-weight-bold mb-6">Detalhes Perfil Profissional</h5>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Foto</label>
                                    <div class="col-lg-9 col-xl-9">
                                        <div class="image-input image-input-outline" id="kt_user_edit_avatar">
                                            <div class="image-input-wrapper" style="background-image: url('data:image/jpg;base64,@Model.PerfilPicture')"></div>
                                            <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                <i class="fa fa-pen icon-sm text-muted"></i>
                                                <input type="file" accept=".png, .jpg, .jpeg" asp-for="File" />
                                                <input type="hidden" name="profile_avatar_remove" />
                                            </label>
                                            <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                                <i class="ki ki-bold-close icon-xs text-muted"></i>
                                            </span>
                                        </div>
                                        <span class="form-text text-muted">Coloque uma foto para seu perfil de pestação de serviço, você pode colocar uma foto sua ou de sua empresa.<br />Utilize fotos com o tamanho de até 120x120, caso contrário, poderá afetar a qualidade da foto.</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Nome</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input class="form-control form-control-lg form-control-solid" type="text" name="Name" asp-for="Name" id="Name" value="@Model.Name" maxlength="100" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Sobrenome</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input class="form-control form-control-lg form-control-solid" type="text" name="LastName" asp-for="LastName" id="LastName" value="@Model.LastName"  maxlength="100"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Telefone de contato</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="la la-phone"></i>
                                                    <code>(XX)XXXXXXXXX</code>
                                                </span>
                                            </div>
                                            <input type="text" id="kt_maxlength_1" onkeyup="handlePhone(event)" maxlength="14" class="form-control form-control-lg form-control-solid" asp-for="Phone" name="Phone" value="@Model.Phone" placeholder="Celular" />
                                        </div>
                                        <span class="form-text text-muted">Insira o número de telefone válido.</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Área de atuação</label>
                                    <div class="col-lg-9 col-xl-9">
                                        <select class="form-control" id="kt_select2_1_modal" name="Area" asp-for="Area" value="@Model.Area">
                                            <option value="1">Assistência Técnica</option>
                                            <option value="2">Aulas</option>
                                            <option value="3">Autos</option>
                                            <option value="4">Consultoria</option>
                                            <option value="5">Design/Tecnologia</option>
                                            <option value="6">Eventos</option>
                                            <option value="7">Moda e Beleza</option>
                                            <option value="8">Reformas e Reparos</option>
                                            <option value="9">Saúde</option>
                                            <option value="10">Serviços Domésticos</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Profissão</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input class="form-control form-control-lg form-control-solid" type="text" name="Profession" asp-for="Profession" value="@Model.Profession" maxlength="100" />
                                        <span class="form-text text-muted">Preencha sua profissão corretamente, ela irá aparecer no seu perfil. Ex: Professor</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Especialidade</label>
                                    <div class="col-lg-9 col-xl-9">
                                        <select class="form-control select2" id="kt_select2_11" multiple="multiple" name="Especiality" asp-for="Especiality">
                                            <optgroup label="Assistência Técnica">
                                                <option value="Assistência Adega Climatizada">Assistência Adega Climatizada</option>
                                                <option value="Assistência Aparelho de Som">Assistência Aparelho de Som</option>
                                                <option value="Assistência Aparelhos de Ginástica">Assistência Aparelhos de Ginástica</option>
                                                <option value="Assistência Aquecedor a Gás">Assistência Aquecedor a Gás</option>
                                                <option value="Assistência Ar condicionado">Assistência Ar condicionado</option>
                                                <option value="Assistência Cabeamento e Redes">Assistência Cabeamento e Redes</option>
                                                <option value="Assistência Celular">Assistência Celular</option>
                                                <option value="Assistência Computador/Notebook">Assistência Computador/Notebook</option>
                                                <option value="Assistência Cortador de Grama">Assistência Cortador de Grama</option>
                                                <option value="Assistência Câmera">Assistência Câmera</option>
                                                <option value="Assistência Eletrodomésticos">Assistência Eletrodomésticos</option>
                                                <option value="Assistência Fogão e cooktop">Assistência Fogão e cooktop</option>
                                                <option value="Assistência Fone de Ouvido">Assistência Fone de Ouvido</option>
                                                <option value="Assistência Geladeira e freezer">Assistência Geladeira e freezer</option>
                                                <option value="Assistência Gerador">Assistência Gerador</option>
                                                <option value="Assistência Home theater">Assistência Home theater</option>
                                                <option value="Assistência Impressora">Assistência Impressora</option>
                                                <option value="Assistência Instrumentos Musicais">Assistência Instrumentos Musicais</option>
                                                <option value="Assistência Lava Louça">Assistência Lava Louça</option>
                                                <option value="Assistência Lava roupa">Assistência Lava roupa</option>
                                                <option value="Assistência Micro-ondas">Assistência Micro-ondas</option>
                                                <option value="Assistência Notebooks e Laptops">Assistência Notebooks e Laptops</option>
                                                <option value="Assistência Relógios">Assistência Relógios</option>
                                                <option value="Assistência Secadora de Roupas">Assistência Secadora de Roupas</option>
                                                <option value="Assistência Smartwatch">Assistência Smartwatch</option>
                                                <option value="Assistência Tablet">Assistência Tablet</option>
                                                <option value="Assistência Televisão">Assistência Televisão</option>
                                                <option value="Assistência Vídeo game">Assistência Vídeo game</option>
                                            </optgroup>
                                            <optgroup label="Aulas">
                                                <option value="Aulas Artes">Aulas Artes</option>
                                                <option value="Aulas Artesanato">Aulas Artesanato</option>
                                                <option value="Aulas Desenvolvimento Web">Aulas Desenvolvimento Web</option>
                                                <option value="Aulas Escolares e Reforço<">Aulas Escolares e Reforço</option>
                                                <option value="Aulas Esportes Eletrônicos">Aulas Esportes Eletrônicos</option>
                                                <option value="Aulas Fotografia">Aulas Fotografia</option>
                                                <option value="Aulas Gastronomia">Aulas Gastronomia</option>
                                                <option value="Aulas Idiomas">Aulas Idiomas</option>
                                                <option value="Aulas Informática">Aulas Informática</option>
                                                <option value="Aulas Luta">Aulas Luta</option>
                                                <option value="Aulas Marketing Digital">Aulas Marketing Digital</option>
                                                <option value="Aulas Moda">Aulas Moda</option>
                                                <option value="Aulas Música">Aulas Música</option>
                                                <option value="Aulas Paisagismo">Aulas Paisagismo</option>
                                                <option value="Aulas Saúde">Aulas Saúde</option>
                                                <option value="Aulas TV e Teatro">Aulas TV e Teatro</option>
                                            </optgroup>
                                            <optgroup label="Autos">
                                                <option value="Alarme">Alarme</option>
                                                <option value="Ar Condicionado Automotivo">Ar Condicionado Automotivo</option>
                                                <option value="Auto elétrico<">Auto elétrico</option>
                                                <option value="Borracharia">Borracharia</option>
                                                <option value="Funilaria Automotiva">Funilaria Automotiva</option>
                                                <option value="Guincho">Guincho</option>
                                                <option value="Higienização e Polimento">Higienização e Polimento</option>
                                                <option value="Insulfilm">Insulfilm</option>
                                                <option value="Martelinho de Ouro">Martelinho de Ouro</option>
                                                <option value="Mecânica Geral">Mecânica Geral</option>
                                                <option value="Pintura">Pintura</option>
                                                <option value="Som Automotivo">Som Automotivo</option>
                                                <option value="Venda de Automóveis">Venda de Automóveis</option>
                                                <option value="Vidraçaria Automotiva">Vidraçaria Automotiva</option>
                                            </optgroup>
                                            <optgroup label="Consultoria">
                                                <option value="Administração de Condomínios">Administração de Condomínios</option>
                                                <option value="Administração de Imóveis">Administração de Imóveis</option>
                                                <option value="Advogado">Advogado</option>
                                                <option value="Assessor de Investimentos">Assessor de Investimentos</option>
                                                <option value="Assessoria de Imprensa">Assessoria de Imprensa</option>
                                                <option value="Auditoria e Assuntos Regulatórios">Auditoria e Assuntos Regulatórios</option>
                                                <option value="Auxilio administrativo">Auxilio administrativo</option>
                                                <option value="Consultor pessoal">Consultor pessoal</option>
                                                <option value="Contador">Contador</option>
                                                <option value="Corretor">Corretor</option>
                                                <option value="Despachante">Despachante</option>
                                                <option value="Detetive Particular">Detetive Particular</option>
                                                <option value="Digitação e Digitalização de Documentos">Digitação e Digitalização de Documentos</option>
                                                <option value="Economia e Finanças">Economia e Finanças</option>
                                                <option value="Escrita e Conteúdo">Escrita e Conteúdo</option>
                                                <option value="Guia de Turismo">Guia de Turismo</option>
                                                <option value="Mediação de Conflitos">Mediação de Conflitos</option>
                                                <option value="Palestrantes">Palestrantes</option>
                                                <option value="Pesquisas em geral">Pesquisas em geral</option>
                                                <option value="Produção, padronização e revisão de conteúdo">Produção, padronização e revisão de conteúdo</option>
                                                <option value="Recrutamento e Seleção">Recrutamento e Seleção</option>
                                                <option value="Segurança do Trabalho">Segurança do Trabalho</option>
                                                <option value="Testamento e Planejamento Patrimonial">Testamento e Planejamento Patrimonial</option>
                                                <option value="Tradução">Tradução</option>
                                                <option value="Tradução Juramentada">Tradução Juramentada</option>
                                                <option value="Treinamentos">Treinamentos</option>
                                            </optgroup>
                                            <optgroup label="Design/Tecnologia">
                                                <option value="Animação (Motion)">Animação (Motion)</option>
                                                <option value="Aplicativos para celular e redes sociais">Aplicativos para celular e redes sociais</option>
                                                <option value="Autocad e Modelagem 3D">Autocad e Modelagem 3D</option>
                                                <option value="Convites">Convites</option>
                                                <option value="Corte e Gravação a Laser">Corte e Gravação a Laser</option>
                                                <option value="Criação de Logos">Criação de Logos</option>
                                                <option value="Criação de Marca">Criação de Marca</option>
                                                <option value="Desenvolvimento de Game">Desenvolvimento de Games</option>
                                                <option value="Desenvolvimento de Sites e Sistemas">Desenvolvimento de Sites e Sistemas</option>
                                                <option value="Diagramador">Diagramador</option>
                                                <option value="Edição de Foto">Edição de Fotos</option>
                                                <option value="Ilustração">Ilustração</option>
                                                <option value="Marketing Online">Marketing Online</option>
                                                <option value="Materiais promocionais">Materiais promocionais</option>
                                                <option value="Panfletagem">Panfletagem</option>
                                                <option value="Produção gráfica">Produção gráfica</option>
                                                <option value="Restauração de Fotos">Restauração de Fotos</option>
                                                <option value="Serviços de TI07">Serviços de TI</option>
                                                <option value="Soluções em Streaming">Soluções em Streaming</option>
                                                <option value="Ilustração">Ilustração</option>
                                                <option value="Ux - Ui Design">Ux - Ui Design</option>
                                                <option value="Web Design">Web Design</option>
                                                <option value="Áudio e Vídeo">Áudio e Vídeo</option>
                                                <option value="Outro">Outro</option>
                                            </optgroup>
                                            <optgroup label="Eventos">
                                                <option value="Animação de Festas">Animação de Festas</option>
                                                <option value="Assessor de Eventos">Assessor de Eventos</option>
                                                <option value="Bandas e cantores">Bandas e cantores</option>
                                                <option value="Bartenders">Bartenders</option>
                                                <option value="Brindes e Lembrancinhas">Brindes e Lembrancinhas</option>
                                                <option value="Buffet Completo">Buffet Completo</option>
                                                <option value="Carros de Casamento">Carros de Casamento</option>
                                                <option value="Casting para Eventos">Casting para Eventos</option>
                                                <option value="Celebrantes">Celebrantes</option>
                                                <option value="Chocolateiro">Chocolateiro</option>
                                                <option value="Churrasqueiro24">Churrasqueiro</option>
                                                <option value="Confeitaria">Confeitaria</option>
                                                <option value="Decoração">Decoração</option>
                                                <option value="Djs">Djs</option>
                                                <option value="quipamentos para festas">Equipamentos para festas</option>
                                                <option value="Florista">Florista</option>
                                                <option value="Food Truck">Food Truck</option>
                                                <option value="Fotografia">Fotografia</option>
                                                <option value="Garçons e Copeiras">Garçons e Copeiras</option>
                                                <option value="Gravação de Vídeos">Gravação de Vídeos</option>
                                                <option value="Manobrista">Manobrista</option>
                                                <option value="Organização de Eventos">Organização de Eventos</option>
                                                <option value="Personal Chef">Personal Chef</option>
                                                <option value="Recepcionistas e Cerimonialistas">Recepcionistas e Cerimonialistas</option>
                                                <option value="Segurança">Segurança</option>
                                                <option value="Sommelier">Sommelier</option>
                                                <option value="Ônibus Balada">Ônibus Balada</option>
                                            </optgroup>
                                            <optgroup label="Moda e Beleza">
                                                <option value="Alfaiate">Alfaiate</option>
                                                <option value="Artesanato">Artesanato</option>
                                                <option value="Barbeiro">Barbeiro</option>
                                                <option value="Bronzeamento">Bronzeamento</option>
                                                <option value="Cabeleireiros">Cabeleireiros</option>
                                                <option value="Corte e costura">Corte e costura</option>
                                                <option value="Depilação">Depilação</option>
                                                <option value="Designer de Cílios">Designer de Cílios</option>
                                                <option value="Designer de Sobrancelhas">Designer de Sobrancelhas</option>
                                                <option value="Esotérico">Esotérico</option>
                                                <option value="Esteticista">Esteticista</option>
                                                <option value="Manicure e pedicure">Manicure e pedicure</option>
                                                <option value="Maquiadores">Maquiadores</option>
                                                <option value="Micropigmentador">Micropigmentador</option>
                                                <option value="Ourives">Ourives</option>
                                                <option value="Personal Stylist">Personal Stylist</option>
                                                <option value="Podólogo">Podólogo</option>
                                                <option value="Sapateiro">Sapateiro</option>
                                                <option value="Visagista">Visagista</option>
                                            </optgroup>
                                            <optgroup label="Reformas e Reparos">
                                                <option value="Afiação">Afiação</option>
                                                <option value="Agrimensura">Agrimensura</option>
                                                <option value="Aluguel de Grandes Equipamentos de Construção">Aluguel de Grandes Equipamentos de Construção</option>
                                                <option value="Aluguel de Maquinário">Aluguel de Maquinário</option>
                                                <option value="Antenista">Antenista</option>
                                                <option value="Análises Ambientais">Análises Ambientais</option>
                                                <option value="Arquiteto">Arquiteto</option>
                                                <option value="Automação Residencial">Automação Residencial</option>
                                                <option value="Banheira">Banheira</option>
                                                <option value="Casas e Chalés de Madeira">Casas e Chalés de Madeira</option>
                                                <option value="Chaveiro">Chaveiro</option>
                                                <option value="Climatização">Climatização</option>
                                                <option value="Coifas e Exaustores">Coifas e Exaustores</option>
                                                <option value="Concretagem">Concretagem</option>
                                                <option value="Decorador">Decorador</option>
                                                <option value="Dedetizador">Dedetizador</option>
                                                <option value="Demolição">Demolição</option>
                                                <option value="Desentupidor">Desentupidor</option>
                                                <option value="Banheira">Banheira</option>
                                                <option value="Design de Interiores">Design de Interiores</option>
                                                <option value="Desinfecção">Desinfecção</option>
                                                <option value="Dutos">Dutos</option>
                                                <option value="Eletricista">Eletricista</option>
                                                <option value="Empreiteiro">Empreiteiro</option>
                                                <option value="Encanador">Encanador</option>
                                                <option value="Energia Solar">Energia Solar</option>
                                                <option value="Engenheiro">Engenheiro</option>
                                                <option value="Escada, Corrimão e Guarda-Corpo">Escada, Corrimão e Guarda-Corpo</option>
                                                <option value="Fossa">Fossa</option>
                                                <option value="Galvanização">Galvanização</option>
                                                <option value="Gesso e DryWall">Gesso e DryWall</option>
                                                <option value="Gás">Gás</option>
                                                <option value="Escavação">Escavação</option>
                                                <option value="Impermeabilizador">Impermeabilizador</option>
                                                <option value="Instalador TV Digital">Instalador TV Digital</option>
                                                <option value="Instalação de eletrônicos">Instalação de eletrônicos</option>
                                                <option value="Instalação de Papel de Parede">Instalação de Papel de Parede</option>
                                                <option value="Isolamentos Térmico e Acústico">Isolamentos Térmico e Acústico</option>
                                                <option value="Jardinagem">Jardinagem</option>
                                                <option value="Lareira">Lareira</option>
                                                <option value="Lazer e Recreação">Lazer e Recreação</option>
                                                <option value="Limpeza de Vidros">Limpeza de Vidros</option>
                                                <option value="Limpeza Pós Obra">Limpeza Pós Obra</option>
                                                <option value="Marceneiro">Marceneiro</option>
                                                <option value="Marido de aluguel">Marido de aluguel</option>
                                                <option value="Marmoraria e Granitos">Marmoraria e Granitos</option>
                                                <option value="Montador de Móveis">Montador de Móveis</option>
                                                <option value="Mudanças e Carretos">Mudanças e Carretos</option>
                                                <option value="Paisagista">Paisagista</option>
                                                <option value="Pavimentação">Pavimentação</option>
                                                <option value="Pedreiro">Pedreiro</option>
                                                <option value="Pintor">Pintor</option>
                                                <option value="Piscina">Piscina</option>
                                                <option value="Portão Automático">Portão Automático</option>
                                                <option value="Poço Artesiano">Poço Artesiano</option>
                                                <option value="Prevenção e Combate a Incêndio">Prevenção e Combate a Incêndio</option>
                                                <option value="Reciclagem">Reciclagem</option>
                                                <option value="Redes de Proteção">Redes de Proteção</option>
                                                <option value="Remoção de Entulho">Remoção de Entulho</option>
                                                <option value="Restauração e Polimento de Pisos">Restauração e Polimento de Pisos</option>
                                                <option value="Segurança Eletrônica">Segurança Eletrônica</option>
                                                <option value="Segurança Perimetral">Segurança Perimetral</option>
                                                <option value="Serralheria e Solda">Serralheria e Solda</option>
                                                <option value="Sonorização de Ambientes">Sonorização de Ambientes</option>
                                                <option value="Tapeceiro">Tapeceiro</option>
                                                <option value="Terraplanagem">Terraplanagem</option>
                                                <option value="Toldos e Coberturas">Toldos e Coberturas</option>
                                                <option value="Topografia">Topografia</option>
                                                <option value="Vidraceiro">Vidraceiro</option>
                                            </optgroup>
                                            <optgroup label="Saúde">
                                                <option value="Aconselhamento Conjugal e Familiar">Aconselhamento Conjugal e Familiar</option>
                                                <option value="Biomedicina Estética">Biomedicina Estética</option>
                                                <option value="Coach">Coach</option>
                                                <option value="Cuidador de Pessoas">Cuidador de Pessoas</option>
                                                <option value="Dentista">Dentista</option>
                                                <option value="Enfermeira">Enfermeira</option>
                                                <option value="Fisioterapeuta">Fisioterapeuta</option>
                                                <option value="Fonoaudiólogo">Fonoaudiólogo</option>
                                                <option value="Hipnoterapia">Hipnoterapia</option>
                                                <option value="Médico">Médico</option>
                                                <option value="Nutricionista">Nutricionista</option>
                                                <option value="Psicanalista">Psicanalista</option>
                                                <option value="Psicólogo">Psicólogo</option>
                                                <option value="Quiropraxia">Quiropraxia</option>
                                                <option value="Remoção de Tatuagem">Remoção de Tatuagem</option>
                                                <option value="Terapia Ocupacional">Terapia Ocupacional</option>
                                                <option value="Terapias Alternativas">Terapias Alternativas</option>
                                            </optgroup>
                                            <optgroup label="Serviços Domésticos">
                                                <option value="Adestrador de Cães">Adestrador de Cães</option>
                                                <option value="Babá">Babá</option>
                                                <option value="Cozinheira">Cozinheira</option>
                                                <option value="Diarista">Diarista</option>
                                                <option value="Governanta">Governanta</option>
                                                <option value="Lavadeira">Lavadeira</option>
                                                <option value="Lavagem de Cortinas, Persianas e Tapetes">Lavagem de Cortinas, Persianas e Tapetes</option>
                                                <option value="Limpeza de Carpetes">Limpeza de Carpetes</option>
                                                <option value="Limpeza de Piscina">Limpeza de Piscina</option>
                                                <option value="Motorista">Motorista</option>
                                                <option value="Passadeira">Passadeira</option>
                                                <option value="Passeador de Cães">Passeador de Cães</option>
                                                <option value="Personal Organizer">Personal Organizer</option>
                                                <option value="Personal Shopper">Personal Shopper</option>
                                                <option value="Segurança Particular">Segurança Particular</option>
                                                <option value="Segurança Patrimonial">Segurança Patrimonial</option>
                                                <option value="Serviços para Pets">Serviços para Pets</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <!--begin::Group-->
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Sobre Minha Carreira</label>
                                    <div class="col-lg-4 col-md-9 col-sm-12">
                                        <textarea class="form-control" name="Sobre" id="Sobre" maxlength="300" placeholder="" rows="6" asp-for="Sobre" value="@Model.Sobre"></textarea>
                                        <span class="form-text text-muted">Escreva aqui tudo sobre sua carreira profissional </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center">
                                        <button class="btn btn-success font-weight-bold text-uppercase px-12 py-3" data-wizard-type="action-submit">Atualizar</button>
                                    </div>
                                </div>
                            </div>

                            <!--end::Body-->
                        </form>
                        <!--end::Form-->
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Profile Personal Information-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>

@section Scripts{
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#663259", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#F4E1F0", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>

    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <script src="~/scripts/ProfessionalProfile/account.js"></script>
    <script src="assets/js/pages/custom/user/edit-user.js"></script>
    <script src="assets/js/pages/crud/forms/widgets/select2.js"></script>
    <script src="assets/js/pages/crud/forms/widgets/bootstrap-maxlength.js"></script>

}
