@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SistemaBico.Web.Models.ProfessionalProfileDto;
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section Head{}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Profile Personal Information-->
            <div class="d-flex flex-row">
                <!--begin::Aside-->
                <div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px" id="kt_profile_aside">
                    <!--begin::Profile Card-->
                    <div class="card card-custom card-stretch">
                        <!--begin::Body-->
                        <div class="card-body pt-4">
                            <!--begin::User-->
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                                    <div class="symbol-label" style="background-image:url('data:image/jpg;base64,@Model.PerfilPicture')"></div>
                                    <i class="symbol-badge bg-success"></i>
                                </div>
                                <div>
                                    <a href="#" class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">@Model.Name @Model.LastName</a>
                                    <div class="text-muted">@Model.Profession</div>
                                </div>
                            </div>
                            <!--end::User-->
                            <!--begin::Contact-->
                            <div class="py-9">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <span class="font-weight-bold mr-2">Email:</span>
                                    <a href="#" class="text-muted text-hover-primary">@Model.Email</a>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <span class="font-weight-bold mr-2">Telefone:</span>
                                    <span class="text-muted">@Model.Phone</span>
                                </div>
                                <div class="d-flex align-items-center justify-content-between">
                                    <span class="font-weight-bold mr-2">Cidade:</span>
                                    <span class="text-muted">@Model.City</span>
                                </div>
                            </div>
                            <!--end::Contact-->
                            <!--begin::Nav-->
                            <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
                                <div class="navi-item mb-2">
                                    <a asp-area="" asp-controller="ProfessionalProfile" asp-action="Account" class="navi-link py-4">
                                        <span class="navi-icon mr-2">
                                            <span class="svg-icon">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <polygon points="0 0 24 0 24 24 0 24" />
                                                        <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                        <path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="#000000" fill-rule="nonzero" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="navi-text font-size-lg">Perfil Profissional</span>
                                    </a>
                                </div>
                                <div class="navi-item mb-2">
                                    <a asp-area="" asp-controller="ProfessionalProfile" asp-action="Address" class="navi-link py-4 active">
                                        <span class="navi-icon mr-2">
                                            <span class="svg-icon">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Code/Compiling.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" fill="#000000" opacity="0.3" />
                                                        <path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" fill="#000000" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="navi-text font-size-lg">Endereço</span>
                                    </a>
                                </div>
                                <div class="navi-item mb-2">
                                    <a  asp-area="" asp-controller="ProfessionalProfile" asp-action="Plan" class="navi-link py-4" data-toggle="tooltip" data-placement="right">
                                        <span class="navi-icon mr-2">
                                            <span class="svg-icon">
                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Layout/Layout-top-panel-6.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <rect fill="#000000" x="2" y="5" width="19" height="4" rx="1" />
                                                        <rect fill="#000000" opacity="0.3" x="2" y="11" width="19" height="10" rx="1" />
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="navi-text font-size-lg">Planos</span>
                                    </a>
                                </div>
                            </div>
                            <!--end::Nav-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Profile Card-->
                </div>
                <!--end::Aside-->
                <!--begin::Content-->
                <div class="flex-row-fluid ml-lg-8">
                    <!--begin::Card-->
                    <div class="card card-custom card-stretch">
                        <!--begin::Header-->
                        <div class="card-header py-3">
                            <div class="card-title align-items-start flex-column">
                                <h3 class="card-label font-weight-bolder text-dark">Detalhes Perfil Profissional</h3>
                                <span class="text-muted font-weight-bold font-size-sm mt-1">Informações Profissionais</span>
                            </div>

                        </div>
                        <!--end::Header-->
                        <!--begin::Form-->
                        <form class="form" id="kt_form_address_update" action="ProfessionalProfile/UpdateAddress" method="post" enctype="multipart/form-data">
                            <!--begin::Body-->
                            <div class="card-body">
                                <div class="row">
                                    <label class="col-xl-3"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <h5 class="font-weight-bold mb-6">Detalhes do seu endereço</h5>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-3">
                                        <!--begin::Group-->
                                        <div class="form-group">
                                            <label>CEP</label>
                                            <input type="text" onblur="pesquisacep(this.value);" maxlength="8" class="form-control form-control-solid form-control-lg" name="CEP" asp-for="CEP" id="CEP" placeholder="CEP" value="@Model.CEP" />
                                            <span class="form-text text-muted">Preencha seu CEP. Ex: XXXXXXXX.</span>
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                    <!--begin::Group-->
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label>Cidade</label>
                                            <input type="text" class="form-control form-control-solid form-control-lg" name="City" asp-for="City" id="City" placeholder="Cidade" maxlength="100" value="@Model.City" />
                                            <span class="form-text text-muted">Preencha a cidade.</span>
                                        </div>
                                    </div>
                                    <div class="col-xl-3">
                                        <!--begin::Group-->
                                        <div class="form-group">
                                            <label>UF</label>
                                            <input type="text" class="form-control form-control-solid form-control-lg" name="State" asp-for="State" id="State" placeholder="UF" maxlength="2" value="@Model.State" />
                                            <span class="form-text text-muted">Preencha seu estado.</span>
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                </div>
                                <div class="form-group row">
                                    <div class="col-xl-8">
                                        <!--begin::Group-->
                                        <div class="form-group">
                                            <label>Logradouro(Endereço)</label>
                                            <input type="text" class="form-control form-control-solid form-control-lg" id="Logradouro" asp-for="Logradouro" name="Logradouro" placeholder="Logradouro" maxlength="100" value="@Model.Logradouro" />
                                            <span class="form-text text-muted">Preencha seu logradouro.</span>
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                    <!--begin::Group-->
                                    <div class="col-xl-4">
                                        <div class="form-group">
                                            <label>Número</label>
                                            <input type="text" class="form-control form-control-solid form-control-lg" name="Number" asp-for="Number" id="Number" placeholder="Número" maxlength="10" value="@Model.Number" />
                                            <span class="form-text text-muted">Preencha o número da casa ou estabelecimento.</span>
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <!--begin::Group-->
                                        <div class="form-group">
                                            <label>Bairro</label>
                                            <input type="text" class="form-control form-control-solid form-control-lg" name="Bairro" asp-for="Bairro" id="Bairro" placeholder="Bairro" maxlength="100" value="@Model.Bairro" />
                                            <span class="form-text text-muted">Preencha o bairro.</span>
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                    <!--begin::Group-->
                                    <div class="col-xl-6">
                                        <div class="form-group">
                                            <label>Complemento</label>
                                            <input type="text" class="form-control form-control-solid form-control-lg" name="Complemento" asp-for="Complemento" id="Complemento" placeholder="Complemento" maxlength="100" value="@Model.Complemento" />
                                            <span class="form-text text-muted">Preencha seu complemento (se tiver).</span>
                                        </div>
                                    </div>
                                    <!--end::Group-->
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center">
                                        <button class="btn btn-success font-weight-bold text-uppercase px-12 py-3" data-wizard-type="action-submit">Atualizar</button>
                                    </div>
                                </div>
                            </div>

                            <!--end::Body-->
                        </form>
                        <!--end::Form-->
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Profile Personal Information-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>

@section Scripts{
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#663259", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#F4E1F0", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>

    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <script src="assets/js/pages/crud/forms/widgets/bootstrap-maxlength.js"></script>
    <script src="~/scripts/ProfessionalProfile/address.js"></script>

}
