@model SistemaBico.API.Dtos.ResponseRazor.ListResponseRazor;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!doctype html>
<html lang="pt-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="../../../SitePrincipal/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Conectando produtores rurais à indústria de sementes - Sementes Ponto Certo">
    <meta name="keywords" content="sementes para pastagem, compra e venda, produtores rurais, indústria de sementes">
    <meta name="author" content="Sementes PONTO CERTO">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Ponto Certo - Sementes de Qualidade para Pastagem">
    <meta property="og:description" content="Conectando produtores rurais à indústria de sementes. Garantimos os melhores produtos em sua fazenda.">
    <meta property="og:image" content="URL_DA_IMAGEM_PARA_EXIBICAO_NAS_REDES_SOCIAIS">
    @*     <meta property="og:url" content="url_do_seu_site">
    <link rel="icon" href="URL_DO_SEU_FAVICON" type="image/x-icon"> *@
    <title>Ponto Certo - Sementes de Qualidade para Pastagem</title>
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-liberty.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="/img/fav.png" />
    <style>
        .logo {
            font-family: 'Arial', sans-serif; /* Você pode ajustar a fonte conforme necessário */
            color: white; /* Cor do texto */
            text-align: center; /* Centraliza o texto */
        }

        .nj {
            font-weight: bold; /* Define a espessura da fonte */
            font-size: 24px; /* Tamanho da fonte para "NJ" */
            margin-bottom: -10px; /* Aproxima "NJ" de "Agronegócios" */
        }

        .agro {
            font-size: 16px; /* Tamanho da fonte para "Agronegócios" */
        }


    </style>
</head>

<body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta name="robots" content="noindex">
    <!-- Top Menu 1 -->
    <section class="w3l-top-menu-1">
        <div class="top-hd">
            <div class="container">
                <header class="row align-items-center justify-content-between">
                    <div class="social-top col-lg-3 col-6">
                        <div class="logo">
                            <img src="~/img/logonova.png" alt="Ponto Certo Logo" style="max-height:60px;">
                        </div>
                    </div>
                    <div class="accounts col-lg-9 col-6">
                        <a href="@Url.Action("Index", "Login")" style="color: white">Entrar</a>
                    </div>
                </header>
            </div>
        </div>
    </section>
    <!---728x90--->
    <section class="form-12" id="home">
        <div class="form-12-content">
            <div class="container">
                <div class="grid grid-column-2">
                    <div class="column2">
                    </div>
                    <div class="column1">
                        <form action="@Url.Action("Pesquisar")" method="post">
                            <div class="blog-search form d-flex search-form">
                                <input type="search" class="form-control" placeholder="Digite para pesquisar" name="search">
                                <button type="submit" class="btn search-btn"><span class="fa fa-search"></span></button>
                            </div>
                            <div class="form-top">
                                <select id="sel1" name="menuId">
                                    <option value="">Filtrar Produtos</option>
                                    @{
                                        foreach (var menu in Model.Menus)
                                        {
                                            <option value="@menu.Id">@menu.Nome</option>
                                        }
                                    }

                                </select>
                            </div>
                            <button type="submit" class="btn">Filtrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---728x90--->
    <section class="grids-4" id="properties">
        <div id="grids4-block" class="py-5">
            <div class="container py-md-3">
                <div class="row mt-5 pt-3">
                    @{
                        foreach (var produto in Model.Produtos)
                        {
                            var descricao = string.IsNullOrEmpty(@produto.Observacao) ? "Sem observações." : @produto.Observacao;
                            <div class="grids4-info col-lg-4 col-md-6 custom-mb">
                                <a><img src="data:image/jpeg;base64, @produto.FotoBase64" class="img-fluid" alt=""></a>
                                <ul class="location-top">
                                    <li class="open-1">@produto.MenuName</li>
                                </ul>
                                <div class="info-bg">
                                    <h5><a href="blog-single.html">@produto.Nome</a></h5>
                                    <p>@descricao</p>
                                    <ul>
                                        <li><span class="fa fa-share-square-o"></span> Pz: @produto.Pureza%</li>
                                        <li><span class="fa fa-share-square-o"></span> Tz: @produto.Tetrazolio</li>
                                        <li><span class="fa fa-share-square-o"></span> Lote: @produto.Lote</li>
                                    </ul>
                                </div>
                                <button class="orcamento-btn">
                                    <a href="https://api.whatsapp.com/send?phone=5518997681891" target="_blank" style="color: #ffffff; text-decoration: none;">
                                        <i class="fa fa-whatsapp"></i> Faça Orçamento
                                    </a>
                                </button>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
    <section class="pagination-section text-center mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @{
                    int currentPage = Model.Paginacao.Page;
                    int totalPages = Model.Paginacao.PagesSize;
                    bool hasPreviousPage = currentPage > 1;
                    bool hasNextPage = currentPage < totalPages;

                    <li class="page-item @(hasPreviousPage ? "" : "disabled blurred")" style="margin-right: 5px;">
                        <a class="page-link" href="@Url.Action("Index", new { page = currentPage - 1 })" tabindex="-1" aria-disabled="true">Anterior</a>
                    </li>

                    @for (int i = 1; i <= totalPages; i++)
                    {
                        <li class="page-item @(currentPage == i ? "active" : "")" style="margin-right: 5px;">
                            <a class="page-link numbered-link" href="@Url.Action("Index", new { page = i })" style="background-color: #02ad88; border-color: #02ad88; color: @(currentPage == i ? "#fff" : "#000"); opacity: @(currentPage == i ? "1" : "0.7");">@i <span class="sr-only">(current)</span></a>
                        </li>
                    }

                    <li class="page-item @(hasNextPage ? "" : "disabled blurred")" style="margin-left: 5px;">
                        <a class="page-link" href="@Url.Action("Index", new { page = currentPage + 1 })" style="background-color: #02ad88; border-color: #02ad88; color: #fff;">Próximo</a>
                    </li>
                }

            </ul>
        </nav>
    </section>
    <br />
    <br />

    <section class="w3l-testimonials" id="testimonials">
        <div class="customers-6-content py-5">
            <div class="container py-lg-3">
                <div class="heading text-center mx-auto">
                    <h3 class="head">Clientes Satisfeitos</h3>
                    <p class="my-3 head ">
                        Descubra o que nossos clientes têm a dizer sobre nossos produtos de alta qualidade. Suas experiências e depoimentos refletem a confiança e a satisfação em escolher nossas sementes agrícolas. Leia abaixo para saber mais!
                    </p>
                </div>

                <div id="customerhnyCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Itens do carrossel -->
                    <div class="carousel-inner pb-5">

                        <div class="carousel-item active">
                            <div class="customer row py-5 mt-3">
                                <div class="col-lg-4 col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <span class="fa fa-quote-left" aria-hidden="true"></span>
                                            <h3 class="card-title">José da Silva</h3>
                                            <p class="sub-title mb-3">Agricultor</p>
                                            <p class="card-text text-center mb-4">
                                                Antes eu não tinha tempo de cuidar da minha roça e ainda vender meus produtos, acabava perdendo venda.

                                                Através da oferta da NJ Agronegocios, consegui focar na minha produção e parei de perder oportunidade de venda
                                            </p>
                                            <div class="text-right">
                                                <span class="fa fa-quote-right" aria-hidden="true"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 off-testi-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <span class="fa fa-quote-left" aria-hidden="true"></span>
                                            <h3 class="card-title">Maria Oliveira</h3>
                                            <p class="sub-title mb-3">Industrial de sementes para pastagem</p>
                                            <p class="card-text text-center mb-4">
                                                Parabéns pelo atendimento<br />

                                                Fui prontamente atendido, ganhei tempo em não ter que me deslocar para ir furar e analisar o lote. O produto chegou com a qualidade que me foi informada
                                            </p>
                                            <div class="text-right">
                                                <span class="fa fa-quote-right" aria-hidden="true"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 off-testi">
                                    <div class="card">
                                        <div class="card-body">
                                            <span class="fa fa-quote-left" aria-hidden="true"></span>
                                            <h3 class="card-title">Carlos Pereira</h3>
                                            <p class="sub-title mb-3">Industrial de sementes para pastagem</p>
                                            <p class="card-text text-center mb-4">
                                                Modernização muito bem vinda ao setor

                                                Facilitou minha compra, reduziu meu tempo de compra e chegada do produto, reduziu meu custo com funcionário para deslocamento em busca de produto.                          </br>
                                            </p>
                                            <div class="text-right">
                                                <span class="fa fa-quote-right" aria-hidden="true"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--.item-->
                    </div>
                    <!--.carousel-inner-->
                </div>
            </div>
        </div>
        <!--//clientes -->
    </section>
    <!-- specifications -->
    <!-- grids block 5 -->
    <section class="w3l-footer-29-main" id="footer">
        <div class="footer-29">
            <div class="container pt-5">
                <div class="d-grid grid-col-4 footer-top-29">
                    <div class="footer-list-29 footer-1">
                        <h6 class="footer-title-29">Sobre Nós</h6>
                        <p>
                            Somos uma empresa especializada na compra e venda de sementes para pastagem. fazemos a conexão entre os produtores rurais e a industria de semente.
                            Cuidamos para que os melhores produtos cheguem ao seu destino.
                        </p>

                    </div>
                    <div class="footer-list-29 footer-2">
                        <div class="main-social-footer-29">
                            <h6 class="footer-title-29">Redes Sociais</h6>
                            <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                            <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                        </div>
                    </div>
                    <div class="footer-list-29 footer-3">
                        <h6 class="footer-title-29">Contatos</h6>
                        <p><a><span class="fa fa-mobile"> (18) 997681891</span></a></p>
                        <p><a><span class="fa fa-mobile"> (38) 999224855</span></a></p>

                    </div>

                </div>
                <div class="bottom-copies text-center">
                    <p class="copy-footer-29">© 2024 Todos os direitos reservados | Desenvolvido por GB Sistemas</p>
                </div>
            </div>
        </div>
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </section>

    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
</body>
</html>
