@model SistemaBico.API.Dtos.ResponseRazor.ListResponseRazor;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Cadastro de Produtos";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="card mb-4">
    <div class="card-body">
        <a asp-area="" asp-controller="Produtos" asp-action="novo-produto" class="btn btn-primary"><i class="fa fa-plus pull-right"></i> Adicionar Produto</a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-white font-weight-bold">
        Usuário(s) Cadastrado(s)
    </div>
    <div class="card-body">

        <div class="table-responsive" id="destroy">
            <table class="table table-striped" id="ProdutosCadastrados">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Qtd de Pontos</th>
                        <th scope="col">Pureza(%)</th>
                        <th scope="col">Tetrazólio(%)</th>
                        <th scope="col">Fornecedor</th>
                        <th scope="col">Observação</th>
                        <th scope="col">Data</th>
                        <th scope="col">Ativo</th>
                        <th scope="col">#</th>
                        <th scope="col">#</th>
                        <th scope="col">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Produtos)
                    {
                        <tr class="table-row @(item.Ativo ? "" : "table-disabled-row")">
                            <td>
                                <img src="data:image/jpg;base64,@item.FotoBase64" alt="Imagem do Produto" class="produto-thumbnail" style="max-width: 40px; max-height: 40px;">
                            </td>
                            <td>@item.Nome</td>
                            <td>@item.TipoProduto</td>
                            <td>@String.Format("{0:#,##0}", decimal.Parse(item.Quantidade.ToString().Replace(",", "."), System.Globalization.CultureInfo.GetCultureInfo("pt-BR"))) </td>
                            <td>@item.Pureza%</td>
                            <td>@item.Tetrazolio%</td>
                            <td>@item.FornecedorName</td>
                            <td>@item.Observacao</td>
                            <td>@item.DataCadastro</td>
                            @if (item.Ativo)
                            {
                                <td>Ativo</td>
                            }
                            else
                            {
                                <td>Desativado</td>
                            }
                            <td><button class="btn btn-icon btn-primary" id="btnEditar" onclick="Alterar('@item.ProdutoId')"><i class="fa fa-edit"></i></button></td>
                            @if (item.Quantidade > 0)
                            {
                                <td><button class="btn btn-icon btn-success" id="btnVenda" onclick="Venda('@item.ProdutoId')"><i class="fas fa-shopping-cart"></i></button></td>
                            }
                            else
                            {
                                <td></td>
                            }

                            @if (item.Ativo)
                            {
                                <td><button class="btn btn-icon btn-warning" onclick="AtivarDesativar('@item.ProdutoId')" id=" btnR" data-toggle="modal" data-target="#modalConfirmarDesativacao" data-produto-id="@item.ProdutoId"><i class="fa fa-eye-slash"></i></button></td>
                            }
                            else
                            {
                                <td><button class="btn btn-icon btn-warning btn-desativado" onclick="AtivarDesativar('@item.ProdutoId')" id="btnRemover" data-toggle="modal" data-target="#modalConfirmarDesativacao" data-produto-id="@item.ProdutoId"><i class="fa fa-eye"></i></button></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class=" modal fade modal_confirm" id="modalNovaVenda">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nova Venda</h4>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Nome do Produto</label>
                            <input type="text" class="form-control" name="txtNome" id="txtNome" disabled />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Qtd de Pontos Disponível</label>
                            <input type="text" class="form-control" name="txtQuantidade" id="txtQuantidade" disabled />
                        </div>
                        <div class="form-group col-md-12">
                            <label>Observação</label>
                            <input type="text" class="form-control" name="txtObservacao" id="txtObservacao"  disabled />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Qtd de Pontos Vendida</label>
                            <input type="text" class="form-control" name="txtQuantidadeVenda" id="txtQuantidadeVenda" />
                            <div id="mensagemMotivo" style="color: red; margin-top: 5px;"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Valor Unitário(R$)</label>
                            <input type="text" class="form-control" name="txtValor" id="txtValor" disabled/>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Valor Total(R$)</label>
                            <input type="text" class="form-control" name="txtValorTotal" id="txtValorTotal" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="salvar_registro">Registrar</button>
                <button type="button" id="btnVoltar" data-dismiss="modal" class="btn btn-danger"> Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class=" modal fade modal_confirm" id="modalConfirmarDesativacao">
    <div class="modal-dialog modal-md">
        <div class="modal-content" id="divcontent">
            <div class="modal-header">
                <h4 class="modal-title"> Ativar/Desativar registro</h4>
            </div>
            <div class="modal-body">
                <p>
                    A confirmação resultará na: <br />
                    <b>Ativação</b>(o produto ficará disponivel para o público)<br />
                    <b>Inativação</b>(o produto não será mais visto para o público).<br/>
                    <br /><br />
                    <b>Tem certeza que deseja concluir a ação ?</b>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="delete_registro">SIM</button>
                <button type="button" id="btnVoltar" data-dismiss="modal" class="btn btn-danger">NÃO</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/scripts/exibirProdutos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
}